In [1]:
#import the library used to query a website
from urllib.request import urlopen
#specify the url
wiki = "https://en.wikipedia.org/wiki/Gal_Gadot"
#Query the website and return the html to the variable 'page'
page = urlopen(wiki)
#import the Beautiful soup functions to parse the data returned from the website
from bs4 import BeautifulSoup
#Parse the html in the 'page' variable, and store it in Beautiful Soup format
soup = BeautifulSoup(page, "lxml")

In [2]:
# find films table
right_table=soup.find('table', class_='wikitable sortable')

Question 1:

In [3]:
import re
#Generate lists
A=[]
B=[]
C=[]
D=[]
moviesLinks=[] #for Question2
year=''
role=''
yearIndex=-1
roleIndex=-1

for row in right_table.findAll("tr"):
    cells = row.findAll('td')
    #all cells
    if len(cells)==5:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))
        D.append(cells[3].find(text=True))
        #check rowspan
        if cells[0].has_attr('rowspan'):
            year=cells[0].find(text=True)
            yearIndex=int(cells[0].attrs['rowspan'])-1
        if cells[2].has_attr('rowspan'):
            role=cells[2].find(text=True)
            roleIndex=int(cells[2].attrs['rowspan'])-1
        #save link to movie page
        a = cells[1].find_all('a')
        if len(a)>0:
            moviesLinks.append(a[0].get('href'))
    #year or role not exist
    if len(cells)==4:
        #no year
        if yearIndex>0:
            A.append(year)
            yearIndex=yearIndex-1
            B.append(cells[0].find(text=True))
            C.append(cells[1].find(text=True))
            D.append(cells[2].find(text=True))
            #check role rowspan
            if cells[1].has_attr('rowspan'):
                role=cells[1].find(text=True)
                roleIndex=int(cells[1].attrs['rowspan'])-1
            #save link to movie page
            a = cells[0].find_all('a')
            if len(a)>0:
                moviesLinks.append(a[0].get('href'))
        if roleIndex>0:
            A.append(cells[0].find(text=True))
            B.append(cells[1].find(text=True))
            C.append(role)
            D.append(cells[2].find(text=True))
            roleIndex=roleIndex-1
            #check year rowspan
            if cells[0].has_attr('rowspan'):
                year=cells[0].find(text=True)
                yearIndex=int(cells[0].attrs['rowspan'])-1
            #save link to movie page
            a = cells[1].find_all('a')
            if len(a)>0:
                moviesLinks.append(a[0].get('href'))
    #year and role not in row
    if len(cells)==3:
        A.append(year)
        B.append(cells[0].find(text=True))
        C.append(role)
        D.append(cells[1].find(text=True))
        yearIndex=yearIndex-1
        roleIndex=roleIndex-1
        #save link to movie page
        a = cells[0].find_all('a')
        if len(a)>0:
            moviesLinks.append(a[0].get('href'))

In [4]:
#import pandas and convert list to data frame
import pandas as pd
df=pd.DataFrame()
df['Year']=A
df['Title']=B
df['Role']=C
df['Director(s)']=D
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Year</th>
      <th>Title</th>
      <th>Role</th>
      <th>Director(s)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2009</td>
      <td>Fast &amp; Furious</td>
      <td>Gisele Yashar</td>
      <td>Justin Lin</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2010</td>
      <td>Date Night</td>
      <td>Natanya</td>
      <td>Shawn Levy</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2010</td>
      <td>Knight and Day</td>
      <td>Naomi</td>
      <td>James Mangold</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2011</td>
      <td>Fast Five</td>
      <td>Gisele Yashar</td>
      <td>Justin Lin</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2013</td>
      <td>Fast &amp; Furious 6</td>
      <td>Gisele Yashar</td>
      <td>Justin Lin</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2014</td>
      <td>Kicking Out Shoshana</td>
      <td>Mirit Ben Harush</td>
      <td>Shay Kanot</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2015</td>
      <td>Furious 7</td>
      <td>Gisele Yashar</td>
      <td>James Wan</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2016</td>
      <td>Triple 9</td>
      <td>Elena Vlaslov</td>
      <td>John Hillcoat</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2016</td>
      <td>Batman v Superman: Dawn of Justice</td>
      <td>Diana Prince</td>
      <td>Zack Snyder</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2016</td>
      <td>Criminal</td>
      <td>Jill Pope</td>
      <td>Ariel Vromen</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2016</td>
      <td>Keeping Up with the Joneses</td>
      <td>Natalie Jones</td>
      <td>Greg Mottola</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2017</td>
      <td>Wonder Woman</td>
      <td>Diana Prince / Wonder Woman</td>
      <td>Patty Jenkins</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2017</td>
      <td>Justice League</td>
      <td>Diana Prince / Wonder Woman</td>
      <td>Zack Snyder</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2018</td>
      <td>Ralph Breaks the Internet</td>
      <td>Shank (voice)</td>
      <td>Rich Moore</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2020</td>
      <td>Wonder Woman 1984</td>
      <td>Diana Prince / Wonder Woman</td>
      <td>Patty Jenkins</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2020</td>
      <td>Red Notice</td>
      <td>TBA</td>
      <td>Rawson Marshall Thurber</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2020</td>
      <td>Death on the Nile</td>
      <td>Linnet Ridgeway Doyle</td>
      <td>Kenneth Branagh</td>
    </tr>
    <tr>
      <th>17</th>
      <td>TBA</td>
      <td>My Dear Fidel</td>
      <td>None</td>
      <td>TBA</td>
    </tr>
  </tbody>
</table>
</div>

Question 2:

In [23]:
#find all cast
castLinks=[]
#collect all cast members links
for link in moviesLinks:
    moviePage = urlopen("https://en.wikipedia.org"+link)
    movieSoup = BeautifulSoup(moviePage, "lxml")
    if(movieSoup.find(id="Cast")):
        cast=(movieSoup.find(id="Cast").parent).find_next('ul')
    if(movieSoup.find(id="Voice_cast")):
        cast=(movieSoup.find(id="Voice_cast").parent).find_next('ul')
    lines = cast.find_all('li')
    #cast members in different ul
    uls=False
    while (len(lines)==1) and  (cast.find_next('ul')):
        uls=True
        for line in lines:
            a = line.find_all('a')
            if len(a)>0:
                castLinks.append(a[0].get('href'))
        cast=cast.find_next('ul')
        lines = cast.find_all('li')
    #regular
    if uls==False:
        for line in lines:
            a = line.find_all('a')
            if len(a)>0:
                castLinks.append(a[0].get('href'))
print(castLinks)
print(len(castLinks))

['/wiki/Vin_Diesel', '/wiki/Paul_Walker', '/wiki/Michelle_Rodr%C3%ADguez', '/wiki/Jordana_Brewster', '/wiki/Gal_Gadot', '/wiki/John_Ortiz', '/wiki/Laz_Alonso', '/wiki/Jack_Conley_(actor)', '/wiki/Shea_Whigham', '/wiki/Tego_Calder%C3%B3n', '/wiki/Don_Omar', '/wiki/Sung_Kang', '/wiki/Liza_Lapira', '/wiki/Mirtha_Michelle', '/wiki/Greg_Cipes', '/wiki/Ron_Yuan', '/wiki/Neil_Brown_Jr.', '/w/index.php?title=Wilmer_Calderon&action=edit&redlink=1', '/wiki/Brandon_T._Jackson', '/wiki/Mousa_Kraish', '/wiki/Alejandro_Patino', '/wiki/Greg_Collins_(American_football)', '/wiki/Steve_Carell', '/wiki/Tina_Fey', '/wiki/Mark_Wahlberg', '/wiki/Taraji_P._Henson', '/wiki/William_Fichtner', '/wiki/James_Franco', '/wiki/Mila_Kunis', '/wiki/Mark_Ruffalo', '/wiki/Kristen_Wiig', '/wiki/Common_(entertainer)', '/wiki/Jimmi_Simpson', '/wiki/Bill_Burr', '/wiki/Leighton_Meester', '/wiki/Gal_Gadot', '/wiki/Olivia_Munn', '/wiki/J._B._Smoove', '/wiki/Michelle_Galdenzi', '/wiki/Will.i.am', '/wiki/Nick_Kroll', '/wiki/Max_Charles', '/wiki/Jon_Bernthal', '/wiki/Ray_Liotta', '/wiki/Tom_Cruise', '/wiki/Cameron_Diaz', '/wiki/Peter_Sarsgaard', '/wiki/Jordi_Moll%C3%A0', '/wiki/Viola_Davis', '/wiki/Paul_Dano', '/wiki/Falk_Hentschel', '/wiki/Marc_Blucas', '/wiki/Maggie_Grace', '/wiki/Dale_Dye', '/wiki/Celia_Weston', '/wiki/Gal_Gadot', '/wiki/Jack_O%27Connell_(actor)', '/wiki/Vin_Diesel', '/wiki/Paul_Walker', '/wiki/Jordana_Brewster', '/wiki/Tyrese_Gibson', '/wiki/Ludacris', '/wiki/Matt_Schulze', '/wiki/Sung_Kang', '/wiki/Dwayne_Johnson', '/wiki/Gal_Gadot', '/wiki/Joaquim_de_Almeida', '/wiki/Elsa_Pataky', '/wiki/Vin_Diesel', '/wiki/Paul_Walker', '/wiki/Dwayne_Johnson', '/wiki/Michelle_Rodriguez', '/wiki/Jordana_Brewster', '/wiki/Tyrese_Gibson', '/wiki/Ludacris', '/wiki/Sung_Kang', '/wiki/Gal_Gadot', '/wiki/Luke_Evans_(actor)', '/wiki/Gina_Carano', '/wiki/John_Ortiz', '/wiki/Shea_Whigham', '/wiki/Elsa_Pataky', '/wiki/David_Ajala', '/wiki/Kim_Kold', '/wiki/Thure_Lindhardt', '/wiki/Joe_Taslim', '/wiki/Clara_Paget', '/wiki/Benjamin_Davies_(actor)', '/wiki/Rita_Ora', '/wiki/Jason_Statham', '/wiki/Oshri_Cohen', '/wiki/Gal_Gadot', '/wiki/Eli_Finish', '/wiki/Mariano_Idelman', '/wiki/Vin_Diesel', '/wiki/Paul_Walker', '/wiki/Cody_Walker_(actor)', '/wiki/Dwayne_Johnson', '/wiki/Michelle_Rodriguez', '/wiki/Tyrese_Gibson', '/wiki/Ludacris', '/wiki/Jordana_Brewster', '/wiki/Djimon_Hounsou', '/wiki/Tony_Jaa', '/wiki/Ronda_Rousey', '/wiki/Nathalie_Emmanuel', '/wiki/Kurt_Russell', '/wiki/Jason_Statham', '/wiki/Sung_Kang', '/wiki/Gal_Gadot', '/wiki/Lucas_Black', '/wiki/Elsa_Pataky', '/wiki/Noel_Gugliemi', '/wiki/John_Brotherton', '/wiki/Ali_Fazal', '/wiki/Luke_Evans_(actor)', '/wiki/Iggy_Azalea', '/wiki/Bow_Wow_(rapper)', '/wiki/Tego_Calder%C3%B3n', '/wiki/Casey_Affleck', '/wiki/Anthony_Mackie', '/wiki/Chiwetel_Ejiofor', '/wiki/Clifton_Collins_Jr.', '/wiki/Woody_Harrelson', '/wiki/Aaron_Paul', '/wiki/Kate_Winslet', '/wiki/Gal_Gadot', '/wiki/Norman_Reedus', '/wiki/Teresa_Palmer', '/wiki/Michael_K._Williams', '/wiki/Michelle_Ang', '/wiki/Luis_Da_Silva', '/wiki/Kurt_Yaeger', '/wiki/Ben_Affleck', '/wiki/Henry_Cavill', '/wiki/Amy_Adams', '/wiki/Jesse_Eisenberg', '/wiki/Diane_Lane', '/wiki/Laurence_Fishburne', '/wiki/Jeremy_Irons', '/wiki/Holly_Hunter', '/wiki/Gal_Gadot', '/wiki/Scoot_McNairy', '/wiki/Callan_Mulvey', '/wiki/Tao_Okamoto', '/wiki/Robin_Atkin_Downes', '/wiki/Kevin_Costner', '/wiki/Gal_Gadot', '/wiki/Tommy_Lee_Jones', '/wiki/Gary_Oldman', '/wiki/Ryan_Reynolds', '/wiki/Alice_Eve', '/wiki/Michael_Pitt', '/wiki/Jordi_Moll%C3%A0', '/wiki/Antje_Traue', '/wiki/Scott_Adkins', '/wiki/Amaury_Nolasco', '/wiki/Colin_Salmon', '/wiki/Tommy_Hatto', '/wiki/Robert_Davi', '/wiki/Richard_Reid_(actor)', '/wiki/Natalie_Burn', '/w/index.php?title=Lara_Decaro&action=edit&redlink=1', '/wiki/Zach_Galifianakis', '/wiki/Jon_Hamm', '/wiki/Isla_Fisher', '/wiki/Gal_Gadot', '/wiki/Matt_Walsh_(comedian)', '/wiki/Maribeth_Monroe', '/wiki/Patton_Oswalt', '/wiki/Kevin_Dunn', '/wiki/Ari_Shaffir', '/wiki/Jona_Xiao', '/wiki/Bobby_Lee', '/wiki/Gal_Gadot', '/wiki/Chris_Pine', '/wiki/Robin_Wright', '/wiki/Danny_Huston', '/wiki/David_Thewlis', '/wiki/Connie_Nielsen', '/wiki/Elena_Anaya', '/wiki/Lucy_Davis', '/wiki/Sa%C3%AFd_Taghmaoui', '/wiki/Ewen_Bremner', '/wiki/Eugene_Brave_Rock', '/wiki/Lisa_Loven_Kongsli', '/wiki/Ben_Affleck', '/wiki/Henry_Cavill', '/wiki/Amy_Adams', '/wiki/Gal_Gadot', '/wiki/Ezra_Miller', '/wiki/Jason_Momoa', '/wiki/Ray_Fisher_(actor)', '/wiki/Jeremy_Irons', '/wiki/Diane_Lane', '/wiki/Connie_Nielsen', '/wiki/J._K._Simmons', '/wiki/Ciar%C3%A1n_Hinds', '/wiki/John_C._Reilly', '/wiki/Sarah_Silverman', '/wiki/Jack_McBrayer', '/wiki/Jane_Lynch', '/wiki/Gal_Gadot', '/wiki/Taraji_P._Henson', '/wiki/Alfred_Molina', '/wiki/Alan_Tudyk', '/wiki/Ed_O%27Neill', '/wiki/Flula_Borg', '/wiki/Hamish_Blake', '/wiki/Ali_Wong', '/wiki/GloZell_Green', '/wiki/Timothy_Simons', '/wiki/Ana_Ortiz', '/wiki/Gal_Gadot', '/wiki/Chris_Pine', '/wiki/Kristen_Wiig', '/wiki/Connie_Nielsen', '/wiki/Robin_Wright', '/wiki/Dwayne_Johnson', '/wiki/Gal_Gadot']
220

In [22]:
#find dups cast members and save count
A=[]
B=[]
C=[]
D=[]
castCount=dict() #for Question 3 - number of films with gal gadot
for castMember in castLinks:
    if castMember!="/wiki/Gal_Gadot":
        if castMember in castCount:
            castCount[castMember]+=1
        else:
            castCount[castMember]=1
print(len(castCount.values()))
#go throw cast links and collect information
for actorLink in castCount.keys():
    try:
        actorPage = urlopen("https://en.wikipedia.org" + actorLink)
        co_actor_soup = BeautifulSoup(actorPage, "lxml")
        co_actor_vcard = co_actor_soup.find("table", class_="infobox biography vcard")
        name = co_actor_vcard.find(class_="fn")                 
        birthday = co_actor_vcard.find(class_="bday")  
        birthplace = co_actor_vcard.find(class_="birthplace")
    except:
        continue
    try:
        A.append(name.text)
    except:
        A.append("NULL")
    try:
        B.append(birthday.text[:4])
    except:
        B.append("NULL")
    try:
        C.append(birthplace.text)
    except:
        C.append("NULL")
    awards = 0

165

In [11]:
# import pandas as pd
df2=pd.DataFrame()
df2['A']=A
df2['B']=B
df2['C']=C
# df2['D']=D
df2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Vin Diesel</td>
      <td>1967</td>
      <td>Alameda County, California, U.S.</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Paul Walker</td>
      <td>1973</td>
      <td>Glendale, California, U.S.</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Michelle Rodriguez</td>
      <td>1978</td>
      <td>San Antonio, Texas, U.S.</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Jordana Brewster</td>
      <td>1980</td>
      <td>Panama City, Panama</td>
    </tr>
    <tr>
      <th>4</th>
      <td>John Ortiz</td>
      <td>1969</td>
      <td>Brooklyn, New York, U.S.</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Laz Alonso</td>
      <td>1974</td>
      <td>Washington, D.C., U.S.</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Jack Conley</td>
      <td>1958</td>
      <td>La Jolla, California, U.S.</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Shea Whigham</td>
      <td>1969</td>
      <td>Tallahassee, Florida, U.S.</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Sung Kang</td>
      <td>1972</td>
      <td>Gainesville, Georgia, U.S.</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Liza Lapira</td>
      <td>1981</td>
      <td>Queens, New York, U.S.</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Mirtha Michelle</td>
      <td>1984</td>
      <td>U.S.</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Greg Cipes</td>
      <td>1980</td>
      <td>Coral Springs, Florida, U.S.</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Ron Yuan</td>
      <td>1973</td>
      <td>New York City, New York, US</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Neil Brown Jr.</td>
      <td>1980</td>
      <td>Orlando, Florida</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Brandon T. Jackson</td>
      <td>1984</td>
      <td>Detroit, Michigan, U.S.</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Mousa Kraish</td>
      <td>NULL</td>
      <td>Brooklyn, New York</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Alejandro Patino</td>
      <td>NULL</td>
      <td>NULL</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Steve Carell</td>
      <td>1962</td>
      <td>Concord, Massachusetts, U.S.</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Tina Fey</td>
      <td>1970</td>
      <td>Upper Darby, Pennsylvania, U.S.</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Mark Wahlberg</td>
      <td>1971</td>
      <td>Dorchester, Boston, Massachusetts, U.S.</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Taraji P. Henson</td>
      <td>1970</td>
      <td>Washington, D.C., U.S.</td>
    </tr>
    <tr>
      <th>21</th>
      <td>William Fichtner</td>
      <td>1956</td>
      <td>Mitchel Air Force Base, Long Island, New York,...</td>
    </tr>
    <tr>
      <th>22</th>
      <td>James Franco</td>
      <td>1978</td>
      <td>Palo Alto, California U.S.</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Mila Kunis</td>
      <td>1983</td>
      <td>Chernivtsi, Ukrainian SSR, Soviet Union(now Ch...</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Mark Ruffalo</td>
      <td>1967</td>
      <td>Kenosha, Wisconsin, U.S.</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Kristen Wiig</td>
      <td>1973</td>
      <td>Canandaigua, New York, U.S.</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Jimmi Simpson</td>
      <td>1975</td>
      <td>Hackettstown, New Jersey, U.S.</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Leighton Meester</td>
      <td>1986</td>
      <td>Fort Worth, Texas, U.S.</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Olivia Munn</td>
      <td>1980</td>
      <td>Oklahoma City, Oklahoma, U.S.</td>
    </tr>
    <tr>
      <th>29</th>
      <td>J. B. Smoove</td>
      <td>1964</td>
      <td>Plymouth, North Carolina, U.S.</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>96</th>
      <td>Richard  Reid</td>
      <td>1984</td>
      <td>London, England</td>
    </tr>
    <tr>
      <th>97</th>
      <td>Natalie Burn</td>
      <td>NULL</td>
      <td>Kiev, Ukraine</td>
    </tr>
    <tr>
      <th>98</th>
      <td>Jon Hamm</td>
      <td>1971</td>
      <td>St. Louis, Missouri, U.S.</td>
    </tr>
    <tr>
      <th>99</th>
      <td>Isla Fisher</td>
      <td>1976</td>
      <td>Muscat, Oman</td>
    </tr>
    <tr>
      <th>100</th>
      <td>Matt Walsh</td>
      <td>1964</td>
      <td>Chicago, Illinois, U.S.</td>
    </tr>
    <tr>
      <th>101</th>
      <td>Maribeth Monroe</td>
      <td>1978</td>
      <td>Fraser, Michigan, U.S.</td>
    </tr>
    <tr>
      <th>102</th>
      <td>Kevin Dunn</td>
      <td>1956</td>
      <td>Chicago, Illinois, U.S.</td>
    </tr>
    <tr>
      <th>103</th>
      <td>Jona Xiao</td>
      <td>1989</td>
      <td>Changsha, Hunan, China</td>
    </tr>
    <tr>
      <th>104</th>
      <td>Henry Cavill</td>
      <td>1983</td>
      <td>Saint Helier, Jersey</td>
    </tr>
    <tr>
      <th>105</th>
      <td>Amy Adams</td>
      <td>1974</td>
      <td>Vicenza, Italy</td>
    </tr>
    <tr>
      <th>106</th>
      <td>Ezra Miller</td>
      <td>1992</td>
      <td>Wyckoff, New Jersey, United States</td>
    </tr>
    <tr>
      <th>107</th>
      <td>Jason Momoa</td>
      <td>1979</td>
      <td>Honolulu, Hawaii, U.S.</td>
    </tr>
    <tr>
      <th>108</th>
      <td>Ray Fisher</td>
      <td>NULL</td>
      <td>Baltimore, Maryland, U.S.</td>
    </tr>
    <tr>
      <th>109</th>
      <td>Jeremy Irons</td>
      <td>1948</td>
      <td>Cowes, Isle of Wight, England</td>
    </tr>
    <tr>
      <th>110</th>
      <td>Diane Lane</td>
      <td>1965</td>
      <td>New York City, U.S.</td>
    </tr>
    <tr>
      <th>111</th>
      <td>Connie Nielsen</td>
      <td>1965</td>
      <td>Frederikshavn, Denmark</td>
    </tr>
    <tr>
      <th>112</th>
      <td>J. K. Simmons</td>
      <td>1955</td>
      <td>Grosse Pointe, Michigan, U.S.</td>
    </tr>
    <tr>
      <th>113</th>
      <td>Ciarán Hinds</td>
      <td>1953</td>
      <td>Belfast, Northern Ireland</td>
    </tr>
    <tr>
      <th>114</th>
      <td>John C. Reilly</td>
      <td>1965</td>
      <td>Chicago, Illinois, U.S.</td>
    </tr>
    <tr>
      <th>115</th>
      <td>Jack McBrayer</td>
      <td>1973</td>
      <td>Macon, Georgia, U.S.</td>
    </tr>
    <tr>
      <th>116</th>
      <td>Jane Lynch</td>
      <td>1960</td>
      <td>Evergreen Park, Illinois, U.S.</td>
    </tr>
    <tr>
      <th>117</th>
      <td>Alfred Molina</td>
      <td>1953</td>
      <td>Paddington, London</td>
    </tr>
    <tr>
      <th>118</th>
      <td>Alan Tudyk</td>
      <td>1971</td>
      <td>El Paso, Texas, U.S.</td>
    </tr>
    <tr>
      <th>119</th>
      <td>Ed O'Neill</td>
      <td>1946</td>
      <td>Youngstown, Ohio, U.S.</td>
    </tr>
    <tr>
      <th>120</th>
      <td>Ali Wong</td>
      <td>1982</td>
      <td>San Francisco, California, U.S.</td>
    </tr>
    <tr>
      <th>121</th>
      <td>GloZell</td>
      <td>1972</td>
      <td>Orlando, Florida, U.S.</td>
    </tr>
    <tr>
      <th>122</th>
      <td>Timothy Simons</td>
      <td>1978</td>
      <td>Readfield, Maine, U.S.</td>
    </tr>
    <tr>
      <th>123</th>
      <td>Ana Ortiz</td>
      <td>1971</td>
      <td>Manhattan, New York</td>
    </tr>
    <tr>
      <th>124</th>
      <td>Chris Pine</td>
      <td>1980</td>
      <td>Los Angeles, California, U.S.</td>
    </tr>
    <tr>
      <th>125</th>
      <td>Robin Wright</td>
      <td>1966</td>
      <td>Dallas, Texas, U.S.</td>
    </tr>
  </tbody>
</table>
<p>126 rows × 3 columns</p>
</div>