In [1]:
#import the library used to query a website
from urllib.request import urlopen
#specify the url
wiki = "https://en.wikipedia.org/wiki/Gal_Gadot"
#Query the website and return the html to the variable 'page'
page = urlopen(wiki)
#import the Beautiful soup functions to parse the data returned from the website
from bs4 import BeautifulSoup
#Parse the html in the 'page' variable, and store it in Beautiful Soup format
soup = BeautifulSoup(page, "lxml")

In [2]:
# find films table
right_table=soup.find('table', class_='wikitable sortable')

Question 1:

In [3]:
import re
#Generate lists
A=[]
B=[]
C=[]
D=[]
moviesLinks=[] #for Question2
year=''
role=''
yearIndex=-1
roleIndex=-1

for row in right_table.findAll("tr"):
    cells = row.findAll('td')
    #all cells
    if len(cells)==5:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))
        D.append(cells[3].find(text=True))
        #check rowspan
        if cells[0].has_attr('rowspan'):
            year=cells[0].find(text=True)
            yearIndex=int(cells[0].attrs['rowspan'])-1
        if cells[2].has_attr('rowspan'):
            role=cells[2].find(text=True)
            roleIndex=int(cells[2].attrs['rowspan'])-1
        #save link to movie page
        a = cells[1].find_all('a')
        if len(a)>0:
            moviesLinks.append(a[0].get('href'))
    #year or role not exist
    if len(cells)==4:
        #no year
        if yearIndex>0:
            A.append(year)
            yearIndex=yearIndex-1
            B.append(cells[0].find(text=True))
            C.append(cells[1].find(text=True))
            D.append(cells[2].find(text=True))
            #check role rowspan
            if cells[1].has_attr('rowspan'):
                role=cells[1].find(text=True)
                roleIndex=int(cells[1].attrs['rowspan'])-1
            #save link to movie page
            a = cells[0].find_all('a')
            if len(a)>0:
                moviesLinks.append(a[0].get('href'))
        if roleIndex>0:
            A.append(cells[0].find(text=True))
            B.append(cells[1].find(text=True))
            C.append(role)
            D.append(cells[2].find(text=True))
            roleIndex=roleIndex-1
            #check year rowspan
            if cells[0].has_attr('rowspan'):
                year=cells[0].find(text=True)
                yearIndex=int(cells[0].attrs['rowspan'])-1
            #save link to movie page
            a = cells[1].find_all('a')
            if len(a)>0:
                moviesLinks.append(a[0].get('href'))
    #year and role not in row
    if len(cells)==3:
        A.append(year)
        B.append(cells[0].find(text=True))
        C.append(role)
        D.append(cells[1].find(text=True))
        yearIndex=yearIndex-1
        roleIndex=roleIndex-1
        #save link to movie page
        a = cells[0].find_all('a')
        if len(a)>0:
            moviesLinks.append(a[0].get('href'))

In [5]:
#import pandas and convert list to data frame
import pandas as pd
df=pd.DataFrame()
df['Year']=A
df['Title']=B
df['Role']=C
df['Director(s)']=D
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Year</th>
      <th>Title</th>
      <th>Role</th>
      <th>Director(s)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2009</td>
      <td>Fast &amp; Furious</td>
      <td>Gisele Yashar</td>
      <td>Justin Lin</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2010</td>
      <td>Date Night</td>
      <td>Natanya</td>
      <td>Shawn Levy</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2010</td>
      <td>Knight and Day</td>
      <td>Naomi</td>
      <td>James Mangold</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2011</td>
      <td>Fast Five</td>
      <td>Gisele Yashar</td>
      <td>Justin Lin</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2013</td>
      <td>Fast &amp; Furious 6</td>
      <td>Gisele Yashar</td>
      <td>Justin Lin</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2014</td>
      <td>Kicking Out Shoshana</td>
      <td>Mirit Ben Harush</td>
      <td>Shay Kanot</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2015</td>
      <td>Furious 7</td>
      <td>Gisele Yashar</td>
      <td>James Wan</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2016</td>
      <td>Triple 9</td>
      <td>Elena Vlaslov</td>
      <td>John Hillcoat</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2016</td>
      <td>Batman v Superman: Dawn of Justice</td>
      <td>Diana Prince</td>
      <td>Zack Snyder</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2016</td>
      <td>Criminal</td>
      <td>Jill Pope</td>
      <td>Ariel Vromen</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2016</td>
      <td>Keeping Up with the Joneses</td>
      <td>Natalie Jones</td>
      <td>Greg Mottola</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2017</td>
      <td>Wonder Woman</td>
      <td>Diana Prince / Wonder Woman</td>
      <td>Patty Jenkins</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2017</td>
      <td>Justice League</td>
      <td>Diana Prince / Wonder Woman</td>
      <td>Zack Snyder</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2018</td>
      <td>Ralph Breaks the Internet</td>
      <td>Shank (voice)</td>
      <td>Rich Moore</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2020</td>
      <td>Wonder Woman 1984</td>
      <td>Diana Prince / Wonder Woman</td>
      <td>Patty Jenkins</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2020</td>
      <td>Red Notice</td>
      <td>TBA</td>
      <td>Rawson Marshall Thurber</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2020</td>
      <td>Death on the Nile</td>
      <td>Linnet Ridgeway Doyle</td>
      <td>Kenneth Branagh</td>
    </tr>
    <tr>
      <th>17</th>
      <td>TBA</td>
      <td>My Dear Fidel</td>
      <td>None</td>
      <td>TBA</td>
    </tr>
  </tbody>
</table>
</div>

Question 2:

In [6]:
#find all cast
castLinks=[]
#collect all cast members links
for link in moviesLinks:
    moviePage = urlopen("https://en.wikipedia.org"+link)
    movieSoup = BeautifulSoup(moviePage, "lxml")
    if(movieSoup.find(id="Cast")):
        cast=(movieSoup.find(id="Cast").parent).find_next('ul')
    if(movieSoup.find(id="Voice_cast")):
        cast=(movieSoup.find(id="Voice_cast").parent).find_next('ul')
    lines = cast.find_all('li')
    #cast members in different ul
    uls=False
    while (len(lines)==1) and  (cast.find_next('ul')):
        uls=True
        for line in lines:
            a = line.find_all('a')
            if len(a)>0:
                castLinks.append(a[0].get('href'))
        cast=cast.find_next('ul')
        lines = cast.find_all('li')
    #regular
    if uls==False:
        for line in lines:
            a = line.find_all('a')
            if len(a)>0:
                castLinks.append(a[0].get('href'))
# print(castLinks)
print(len(castLinks))

220

Question 3:

In [49]:
#find dups cast members and save count
A=[]
B=[]
C=[]
D=[]
#for question3:
actorName=[]
filmsCount=[]
castCount=dict() #for Question 3 - number of films with gal gadot
for castMember in castLinks:
    if castMember!="/wiki/Gal_Gadot":
        try:
            actorPage = urlopen("https://en.wikipedia.org" + castMember)
            co_actor_soup = BeautifulSoup(actorPage, "lxml")
        except: #page not open
            continue
        co_actor_vcard = co_actor_soup.find("table")
        try:
            co_actor_vcard = co_actor_soup.find("table", class_="infobox biography vcard")
            # name = co_actor_vcard.find(class_="fn")
        except:
            print()
        try:
            if(co_actor_vcard==None):
                co_actor_vcard = co_actor_soup.find("table", class_="infobox vcard plainlist")
            # name = co_actor_vcard.find(class_="fn")
        except:
            print()
        try:
            if(co_actor_vcard==None):
                co_actor_vcard = co_actor_soup.find("table", class_="infobox vcard")
            # name = co_actor_vcard.find(class_="fn")
        except:
            print("ex:  "+castMember)
            continue
        #find name
        if(co_actor_vcard!=None):
            try:
                name = co_actor_vcard.find(class_="fn")
            except:
                name=co_actor_vcard.find('th')
        else:
            print("name prob "+castMember)
            continue
        #dupes - add count
        try:
            nameT=name.text
        except:
            print(castMember +" name prob")
            continue
        if name.text in castCount.keys():
            castCount[name.text]=castCount[name.text]+1
        #first time - save info
        else:
            castCount[name.text]=1                 
            birthday = co_actor_vcard.find(class_="bday")  
            birthplace = co_actor_vcard.find(class_="birthplace")
            try:
                A.append(name.text)
            except:
                A.append("NULL")
            try:
                B.append(birthday.text[:4])
            except:
                B.append("NULL")
            try:
                C.append(birthplace.text)
            except:
                C.append("NULL")
            awards = 0
            # actorName.append(name.text)
            # filmsCount.appenf(castCount[actorLink])

plainlist/wiki/Tego_Calder%C3%B3n

plainlist/wiki/Don_Omar

plainlist/wiki/Greg_Collins_(American_football)

plainlist/wiki/Common_(entertainer)

plainlist/wiki/Bill_Burr

plainlist/wiki/Will.i.am

plainlist/wiki/Tyrese_Gibson

plainlist/wiki/Tyrese_Gibson

plainlist/wiki/Gina_Carano

plainlist/wiki/Rita_Ora

plainlist/wiki/Tyrese_Gibson

plainlist/wiki/Tony_Jaa

plainlist/wiki/Ronda_Rousey

plainlist/wiki/Iggy_Azalea
/wiki/Iggy_Azalea name prob

plainlist/wiki/Bow_Wow_(rapper)

plainlist/wiki/Tego_Calder%C3%B3n

plainlist/wiki/Zach_Galifianakis

plainlist/wiki/Patton_Oswalt

plainlist/wiki/Ari_Shaffir

plainlist/wiki/Bobby_Lee

plainlist/wiki/Sarah_Silverman

plainlist/wiki/Flula_Borg

plainlist/wiki/Hamish_Blake

In [50]:
# import pandas as pd
df2=pd.DataFrame()
df2['Name']=A
df2['Birth Year']=B
df2['Birth Country']=C
# df2['D']=D
df2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Birth Year</th>
      <th>Birth Country</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Vin Diesel</td>
      <td>1967</td>
      <td>Alameda County, California, U.S.</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Paul Walker</td>
      <td>1973</td>
      <td>Glendale, California, U.S.</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Michelle Rodriguez</td>
      <td>1978</td>
      <td>San Antonio, Texas, U.S.</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Jordana Brewster</td>
      <td>1980</td>
      <td>Panama City, Panama</td>
    </tr>
    <tr>
      <th>4</th>
      <td>John Ortiz</td>
      <td>1969</td>
      <td>Brooklyn, New York, U.S.</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Laz Alonso</td>
      <td>1974</td>
      <td>Washington, D.C., U.S.</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Jack Conley</td>
      <td>1958</td>
      <td>La Jolla, California, U.S.</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Shea Whigham</td>
      <td>1969</td>
      <td>Tallahassee, Florida, U.S.</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Tego Calderón</td>
      <td>1972</td>
      <td>NULL</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Don Omar</td>
      <td>1978</td>
      <td>NULL</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Sung Kang</td>
      <td>1972</td>
      <td>Gainesville, Georgia, U.S.</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Liza Lapira</td>
      <td>1981</td>
      <td>Queens, New York, U.S.</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Mirtha Michelle</td>
      <td>1984</td>
      <td>U.S.</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Greg Cipes</td>
      <td>1980</td>
      <td>Coral Springs, Florida, U.S.</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Ron Yuan</td>
      <td>1973</td>
      <td>New York City, New York, US</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Neil Brown Jr.</td>
      <td>1980</td>
      <td>Orlando, Florida</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Brandon T. Jackson</td>
      <td>1984</td>
      <td>Detroit, Michigan, U.S.</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Mousa Kraish</td>
      <td>NULL</td>
      <td>Brooklyn, New York</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Alejandro Patino</td>
      <td>NULL</td>
      <td>NULL</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Greg Collins</td>
      <td>1952</td>
      <td>NULL</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Steve Carell</td>
      <td>1962</td>
      <td>Concord, Massachusetts, U.S.</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Tina Fey</td>
      <td>1970</td>
      <td>Upper Darby, Pennsylvania, U.S.</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Mark Wahlberg</td>
      <td>1971</td>
      <td>Dorchester, Boston, Massachusetts, U.S.</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Taraji P. Henson</td>
      <td>1970</td>
      <td>Washington, D.C., U.S.</td>
    </tr>
    <tr>
      <th>24</th>
      <td>William Fichtner</td>
      <td>1956</td>
      <td>Mitchel Air Force Base, Long Island, New York,...</td>
    </tr>
    <tr>
      <th>25</th>
      <td>James Franco</td>
      <td>1978</td>
      <td>Palo Alto, California U.S.</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Mila Kunis</td>
      <td>1983</td>
      <td>Chernivtsi, Ukrainian SSR, Soviet Union(now Ch...</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Mark Ruffalo</td>
      <td>1967</td>
      <td>Kenosha, Wisconsin, U.S.</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Kristen Wiig</td>
      <td>1973</td>
      <td>Canandaigua, New York, U.S.</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Common</td>
      <td>1972</td>
      <td>NULL</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>131</th>
      <td>Bobby Lee</td>
      <td>1971</td>
      <td>NULL</td>
    </tr>
    <tr>
      <th>132</th>
      <td>Chris Pine</td>
      <td>1980</td>
      <td>Los Angeles, California, U.S.</td>
    </tr>
    <tr>
      <th>133</th>
      <td>Robin Wright</td>
      <td>1966</td>
      <td>Dallas, Texas, U.S.</td>
    </tr>
    <tr>
      <th>134</th>
      <td>Danny Huston</td>
      <td>1962</td>
      <td>Rome, Italy</td>
    </tr>
    <tr>
      <th>135</th>
      <td>David Thewlis</td>
      <td>1963</td>
      <td>Blackpool, Lancashire, England</td>
    </tr>
    <tr>
      <th>136</th>
      <td>Connie Nielsen</td>
      <td>1965</td>
      <td>Frederikshavn, Denmark</td>
    </tr>
    <tr>
      <th>137</th>
      <td>Elena Anaya</td>
      <td>1975</td>
      <td>Palencia, Spain</td>
    </tr>
    <tr>
      <th>138</th>
      <td>Lucy Davis</td>
      <td>1973</td>
      <td>Solihull, England</td>
    </tr>
    <tr>
      <th>139</th>
      <td>Saïd Taghmaoui</td>
      <td>1973</td>
      <td>Villepinte, Seine-Saint-Denis, France</td>
    </tr>
    <tr>
      <th>140</th>
      <td>Ewen Bremner</td>
      <td>1972</td>
      <td>Portobello, Edinburgh, Scotland</td>
    </tr>
    <tr>
      <th>141</th>
      <td>Eugene Brave Rock</td>
      <td>NULL</td>
      <td>Stand Off, Alberta, Canada</td>
    </tr>
    <tr>
      <th>142</th>
      <td>Lisa Loven Kongsli</td>
      <td>1979</td>
      <td>Oslo, Norway</td>
    </tr>
    <tr>
      <th>143</th>
      <td>Ezra Miller</td>
      <td>1992</td>
      <td>Wyckoff, New Jersey, United States</td>
    </tr>
    <tr>
      <th>144</th>
      <td>Jason Momoa</td>
      <td>1979</td>
      <td>Honolulu, Hawaii, U.S.</td>
    </tr>
    <tr>
      <th>145</th>
      <td>Ray Fisher</td>
      <td>NULL</td>
      <td>Baltimore, Maryland, U.S.</td>
    </tr>
    <tr>
      <th>146</th>
      <td>J. K. Simmons</td>
      <td>1955</td>
      <td>Grosse Pointe, Michigan, U.S.</td>
    </tr>
    <tr>
      <th>147</th>
      <td>Ciarán Hinds</td>
      <td>1953</td>
      <td>Belfast, Northern Ireland</td>
    </tr>
    <tr>
      <th>148</th>
      <td>John C. Reilly</td>
      <td>1965</td>
      <td>Chicago, Illinois, U.S.</td>
    </tr>
    <tr>
      <th>149</th>
      <td>Sarah Silverman</td>
      <td>1970</td>
      <td>NULL</td>
    </tr>
    <tr>
      <th>150</th>
      <td>Jack McBrayer</td>
      <td>1973</td>
      <td>Macon, Georgia, U.S.</td>
    </tr>
    <tr>
      <th>151</th>
      <td>Jane Lynch</td>
      <td>1960</td>
      <td>Evergreen Park, Illinois, U.S.</td>
    </tr>
    <tr>
      <th>152</th>
      <td>Alfred Molina</td>
      <td>1953</td>
      <td>Paddington, London</td>
    </tr>
    <tr>
      <th>153</th>
      <td>Alan Tudyk</td>
      <td>1971</td>
      <td>El Paso, Texas, U.S.</td>
    </tr>
    <tr>
      <th>154</th>
      <td>Ed O'Neill</td>
      <td>1946</td>
      <td>Youngstown, Ohio, U.S.</td>
    </tr>
    <tr>
      <th>155</th>
      <td>Flula Borg</td>
      <td>1982</td>
      <td>NULL</td>
    </tr>
    <tr>
      <th>156</th>
      <td>Hamish Blake</td>
      <td>1981</td>
      <td>NULL</td>
    </tr>
    <tr>
      <th>157</th>
      <td>Ali Wong</td>
      <td>1982</td>
      <td>San Francisco, California, U.S.</td>
    </tr>
    <tr>
      <th>158</th>
      <td>GloZell</td>
      <td>1972</td>
      <td>Orlando, Florida, U.S.</td>
    </tr>
    <tr>
      <th>159</th>
      <td>Timothy Simons</td>
      <td>1978</td>
      <td>Readfield, Maine, U.S.</td>
    </tr>
    <tr>
      <th>160</th>
      <td>Ana Ortiz</td>
      <td>1971</td>
      <td>Manhattan, New York</td>
    </tr>
  </tbody>
</table>
<p>161 rows × 3 columns</p>
</div>

Question 3:

In [9]:
#create data frame and show for each co-actor number of films with gal gadot
coActorsDF=pd.DataFrame()
coActorsDF['Name']=castCount.keys()
coActorsDF['# films with Gal Gadot']=castCount.values()
coActorsDF

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th># films with Gal Gadot</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>